:root {
  --font-family: 'Nunito';
}

body {
  font-family: var(--font-family);
}

.arrow-init {
  transform: rotate(0deg);
}

.arrow-down {
  transform: rotate(90deg);
}

.arrow-init, .arrow-down {
  transition: all .2s ease;
}

.item-region:hover {
  cursor: pointer;
}
